*{
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
body {
  margin: 0px;
    font-family: "Open Sans", Sans-serif;
}


a:hover, a:focus, a:active, a.active {
    color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

@media (min-width: 768px) {
	section {
	    padding: 150px 0;
	}
}

section {
    padding: 70px 0;
}

/*--------------------
2. Navigation
--------------------*/

.navbar-default {
	background-color: #222;
	border-color: transparent
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active {
	color: #fec503
}
.navbar-default .navbar-collapse {
	border-color: rgba(255,255,255,.02)
}
.navbar-default .navbar-toggle {
	background-color: #fed136;
	border-color: #fed136
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background-color: #fed136
}
.navbar-default .nav li a {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	color:#fff
}
.navbar-default .nav li a:hover,.navbar-default .nav li a:focus {
	color: #fed136;
	outline: 0
}

.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fff;
	background-color: #fed136
}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #fec503
}

@media (min-width:768px) {
	.navbar-default
	{
		background-color: transparent;
		padding: 25px 0;
		-webkit-transition:padding .3s;
		-moz-transition:padding .3s;
		transition:padding .3s;
		border:0
	}
	.navbar-default .navbar-brand {
		font-size: 2em;
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		transition:all .3s
	}
	.navbar-default .navbar-nav>.active>a {
		border-radius: 3px
	}
	.navbar-default.navbar-shrink {
		background-color: #222;
		padding: 10px 0
	}
	.navbar-default.navbar-shrink .navbar-brand {
		font-size: 1.5em
	}
}

/*--------------------
3. Header
--------------------*/

header{
    background-image: url(../images/index.png);
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

header .intro-text {
    padding-top: 20%;
    padding-bottom: 5%;
}

header .intro-text {
	    padding-top: 20%;
	    padding-bottom: 5%;
	}


header .intro-text .intro-lead-in {
    font-family: "楷体",sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
	header .intro-text .intro-lead-in {
			font-family: "楷体",sans-serif;
	    font-style: italic;
	    font-size: 40px;
	    line-height: 40px;
	    margin-bottom: 25px;
	}
}

header .intro-text .intro-heading {
		font-family: "楷体",sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
	header .intro-text .intro-heading {
			font-family: "楷体",sans-serif;
	    text-transform: uppercase;
	    font-weight: 700;
	    font-size: 56px;
	    line-height: 75px;
	    margin-bottom: 50px;
	}
}
