{% extends "base.html" %}
{% block title %}{{ product.nickname | default:"找不到指定的手机" }}{% endblock %}
{% block content %}
<div class="container" align="center">
{% if product %}
<table>
    <tr><td align="center"><h3>{{ product.nickname }}</h3></td></tr>
    <tr><td align="center">{{ product.description }}</td></tr>
    <tr><td align="center">公元{{ product.year }}年出厂</td></tr>
    <tr><td align="center">售价:${{ product.price }}</td></tr>
</table>
{% endif %}
</div>
{% endblock %}







