{% extends "base.html" %}
{% load custom_markdown %}
{% block title %}
{{ article.title }}
{% endblock %}
{% block body %}
		<div class="container" id='post'>
      <div class="row">
    			<div class="col-md-12">
    				<article class="article the-font">
    				<a href="#" class="h2" style="color:#34495E"><strong>{{ article.title }}</strong></a>
    					<p><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span style="color:#8C8C8C;"> {{ article.create_time|date:"Y-m-d H:i" }}</span></small></p>
    					<div class="post-alert">本博客采用创作共用版权协议, 要求署名、非商业用途和保持一致. 转载本博客文章必须也遵循署名-非商业用途-保持一致的创作共用协议</div>
    					<p>
									{{ article.body|custom_markdown }}
    					</p>
    				</article>
            <article class="article the-font">
			<div class="ds-share flat" data-thread-key="{{ article.id }}" data-title="{{ article.title }}" data-images="http://www.youlanw.com/static/images/man.jpg" data-content="{{ article.content }}" data-url="article/{{ article.id }}">
    <div class="ds-share-inline">
      <div class="ds-share-icons-more">
      </div>
    </div>
 </div>
<!-- 评论框 end -->
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
<!-- UY END -->
		</article>
    			</div>
      </div>
		</div>
		{% endblock %}
